<div class="add-employee">
	
	<div class="form-bottom">
		<form name="form" (ngSubmit)="f.form.valid && addEmployee()" #f="ngForm" novalidate>
			<div class="form-group">
				<label for="id">Id</label>
				<input type="text" class="form-control" name="id" id="id" [(ngModel)]="addEmp.id" #id="ngModel" placeholder="Enter Id..." />
			</div>
			
			<div class="form-group">
				<label for="name">Name</label>
				<input type="text" class="form-control" name="name" id="name" [(ngModel)]="addEmp.name" #name="ngModel" placeholder="Enter Employee Name..." minlength="4" required />
				<div *ngIf="f.submitted && !name.valid" class="error-msg">Enter Valid Name</div>
			</div>
			
			<div class="form-group">
				<label for="phone">Phone</label>
				<input type="text" class="form-control emp-number" name="phone" id="phone" [(ngModel)]="addEmp.phone" #phone="ngModel" placeholder="Enter Phone Number..." pattern="[789][0-9]{9}" required/>
				<div *ngIf="f.submitted && !phone.valid" class="error-msg">Enter Valid Number</div>
			</div>
			
			<div class="form-group">
				<label for="city">City</label>
				<input type="text" class="form-control" name="city" id="city" [(ngModel)]="addEmp.address.city" #city="ngModel" placeholder="Enter City Name..." />
			</div>
			
			<div class="form-group">
				<label for="address1">Address 1</label>
				<input type="text" class="form-control" name="address1" id="address1" [(ngModel)]="addEmp.address.address_line1" #address1="ngModel" placeholder="Enter Address Line1..." />
			</div>
			
			<div class="form-group">
				<label for="address2">Address 2</label>
				<input type="text" class="form-control" name="address2" id="address2" [(ngModel)]="addEmp.address.address_line2" #address2="ngModel" placeholder="Enter Address Line2..." />
			</div>
			
			<div class="form-group">
				<label for="code">Postal Code</label>
				<input type="text" class="form-control" name="code" id="code" [(ngModel)]="addEmp.address.postal_code" #code="ngModel" placeholder="Enter Postal Code..." />
			</div>
			
			<div class="form-group">
				<button type="submit" class="btn">Add Employee</button>
			</div>	
		</form>
	</div>
</div>