.view-employee table th, .view-employee table td {
	border-bottom: 1px solid #000;
	border-right: 1px solid #000;
	padding: 10px;
}

.view-employee table {
	border-top: 1px solid #000;
	border-left: 1px solid #000;
}